langchain==1.3.9
langchain_core==1.4.7
langchain_google_genai==4.2.5
langchain_huggingface==1.2.2
langchain_ollama==1.1.0
pydantic==2.13.4
python-dotenv==1.2.2
streamlit==1.58.0
torch==2.12.0
langchain_community
pypdf
beautifulsoup4   
langchain_text_splitters
langchain-experimental
tiktoken
chromadb
wikipedia
faiss-cpu
youtube-transcript-api
duckduckgo-search
langchain_experimental